#logopic  {
	margin: 15px auto auto auto;
}

.someTitle  {
	font-size: 8pt;
	color: silver;
}

.someText  {
	font-size: 8pt;
	color: gray;
}

.colTitle  {
	font-size: 8pt;
}

.colText  {
	font-size: 8pt;
	color: black;
}

#dzplayer  {
	margin-left: auto;
	margin-right: auto;
}